:root {
  --primary-color: #2e6fb8;
  --secondary-color: #f1dac4;
  --black: #000;
  --white: #fff;
  --primary-100: '#437dbf';
  --primary-200: '#588cc6';
  --primary-300: '#6d9acd';
  --primary-400: '#82a9d4';
  --primary-500: '#97b7dc';
  --primary-600: '#abc5e3';
  --primary-700: '#c0d4ea';
  --primary-800: '#d5e2f1';
  --primary-900: '#eaf1f8';
  --secondary-100: '#f2deca';
  --secondary-200: '#f4e1d0';
  --secondary-300: '#f5e5d6';
  --secondary-400: '#f7e9dc';
  --secondary-500: '#f8ede2';
  --secondary-600: '#f9f0e7';
  --secondary-700: '#fbf4ed';
  --secondary-800: '#fcf8f3';
  --secondary-900: '#fefbf9';
  --gray-100: '#1a1a1a';
  --gray-200: '#333333';
  --gray-300: '#4d4d4d';
  --gray-400: '#666666';
  --gray-500: '#808080';
  --gray-600: '#999999';
  --gray-700: '#b3b3b3';
  --gray-800: '#cccccc';
  --gray-900: '#e6e6e6';
}
